<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Parrot Passion </title>
    <link rel="stylesheet" href="foundation.css">
</head>

<body>
    <div class="header">
        <a href="#default" class="logo">Parrot Passion</a>
        <div class="header-right">
            <a href="#about">About</a>
            <a href="#shop">Shop with us!</a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="callout">
                <h3> Welcome to Parrot Passion, where you can find your bestfriend today!</h3>
            </div>
        </div>
    </div>
    <form>
        <fieldset>
            <legend>Main Page</legend>
            <h4>Search</h4>
            <input type="text" placeholder="Search your parrot here..">
            <h5>Your Parrot Info.. </h5>
            <img src="c115e400743744250195e8c5e8cfc9abc9-9-parrots.rsquare.w1200.jpg">
        </fieldset>
    </form>
    <div class="row">
        <div class="col-3 menu">
            <ul>
                <li>Parrot 1</li>
                <li>Parrot 2</li>
                <li>Parrot 3</li>
                <li>Parrot 4</li>
            </ul>
        </div>
</body>
</body>

</html>